body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.sidebar {
  height: 99.5vh;
  width: 3.5rem;
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: 1rem;
  flex-direction: column;
}

.sidebar > #icon {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.fileTree {
  border: 1px solid #ccc;
  height: 99.5vh;
  width: 5rem;
  transform: translateX(3.5rem);
  resize: horizontal;
  position: fixed;
}

.code {
  border: none;
  transform: translateX(3.5rem);
  height: 98.5vh;
  width: 93vw;
  resize: none;
}

.code:onfocu, .code:onclick, .code:onblur{
    border: none;
}

.themeInfo {
  transform: translate(75vw, 95vh);
  position: fixed;
  font-size: 10px;
}
