body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

p, span {
  font-size: 15px;
}

.sidebar {
  height: 99.5vh;
  width: 3.5rem;
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: 1rem;
  flex-direction: column;
}

.sidebar > #icon {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.fileTree {
  border: 1px solid #ccc;
  height: 99.5vh;
  width: 5rem;
  transform: translateX(3.5rem);
  resize: horizontal;
  position: fixed;
}

.code {
  border: none;
  transform: translateX(3.5rem);
  height: 98.5vh;
  width: 93vw;
  resize: none;
}

.code:onfocu, .code:onclick, .code:onblur{
    border: none;
}

.themeInfo {
  transform: translate(75vw, 95vh);
  position: fixed;
  font-size: 10px;
  z-index: 100000;
}

.editor {
  display: inline-flex;
  gap: 10px;
  font-family: monospace;
  line-height: 18px;
  border-radius: 2px;
  padding: 20px 10px;
}

.line-numbers {
  width: 14px;
  text-align: right;
  z-index:9999;
  display: flex;
  flex-direction: column;
  transform: translateX(3.5rem)
}

.line-numbers span {
  counter-increment: linenumber;
  font-size: 15px
}



